html {
    padding: 0px;
    margin: 0px;
}


.secondary {
    background-color: #114B5F;
    
}



.btn-projects {
    background-color: #1A936F;
}
 
a {
    text-decoration: none;
    color: #1A936F;
}

