html{
    background-color: #F8FAE5;
    font-family: 'Roboto', sans-serif;
    color: #5F0F40;
    }

a {
    text-decoration: none;
    color: #5F0F40;
}

.heading{
    text-align: center;
    font-family: 'Caprasimo', serif;
    font-kerning: none;
    font-size: 1.5em;
    padding-bottom: 10px;
    display: block;
    margin: 0px;
    width: 100%;
}

body{
    margin: 0px;
}

.body{
    background-color: #5F0F40;
    margin: 0px;
    padding: 0px;
    display: block;
    text-align: center;
    padding: 40px 0px;
    width: 100%;
}

.content-container {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px 20px 20px;
    text-align: center;
    background-color: #E36414;
    border: 2px solid #9A031E;
    border-radius: 20px;
}

.resume-container{
    display: inline-block;
    margin: 20px;
    padding: 10px 20px 20px 20px;
    text-align: left;
    background-color: #E36414;
    border: 2px solid #9A031E;
    border-radius: 20px;
    width: 60%;
}

.resume-container-inner {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: #5F8670;
    border-radius: 20px;
}

.resume-container > h2 {
    text-align: center;
}

.project-screenshot {
    height: 200px;
    border-radius: 10px;
    padding: 10px 20px 20px 20px;
}

.footer {
    padding: 20px;
    text-align: center;
    display: block;
    
}

.icon {
    height: 35px;
    padding: 20px 0px 10px 10px;
}

